body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/lovbg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper{
    background: white;
    border-radius: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: auto;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#add-button{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    border: none;
    border-radius: 40px;
    background: #50B3FF;
    color: white;
    font-size: 15px;
    transition: 0.4s;
}
#add-button:hover{
    width: 230px;
    background: #2890E1;
}

#goaltemplates, #goalname, #startdate, #enddate, #activitytemplates, #activityname,
#activitypoints, #activityunit, #availablegoals,
#activityDataTemplates, #rewardtemplates, #rewardcontents, #penaltytemplates, #penaltycontents{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background: #CBCBCB;
    padding-left: 20px;
}

input[type=date]::-webkit-inner-spin-button {
    height: 0px;
}

#back-button{
    height: 30px;
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 40px;

    color: white;
    font-size: 15px;
    transition: 0.4s;
    background: #2890E1;
}

#back-button:hover{
    background: #50B3FF;
}

#activityDataList, #activityamount{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background: #CBCBCB;
    padding-left: 20px;
}

#left-box{
    float: left;
    margin-left: 40px;
}
