<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOV</title>
    <link href="../static/css/editprofilestyle.css" th:href="@{/css/editprofilestyle.css}" rel="stylesheet"/>
</head>
<body>

<div id="login-box">
    <div id="login-wrapper">
        <h1>Profile Edition</h1>
        <form th:action="@{/updateprofile}" th:object="${user}" method="post">
            <input type="text" id="username" name="username" placeholder="Username" th:field="*{username}"/> <br />
            <input type="password" class="password" name="password" placeholder="Password" th:field="*{password}"/> <br />
            <input type="password" class="password" name="repeatpassword" placeholder="Repeat password"  th:field="*{passwordRepeat}"/> <br />
            <span class="text">After changing your credentials, you will have to sign in again.</span><br />
            <span id="wrongpass">Check if your username contain between 3 to 15 characters and your password must contain between 9 to 20 characters, at least one numeric digit, one uppercase and one lowercase letter!</span><br />
            <input type="submit" value="Apply" id="edit-button"/>
            <a th:href="@{/redirectToProfile}"><input type="button" value="Return" id="back-button"></a>
        </form>
    </div>
</div>
</body>
</html>