<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOV</title>
    <link href="../static/css/goalsstyle.css" th:href="@{/css/goalsstyle.css}" rel="stylesheet"/>

</head>
<body>
<div class="topnav" id="myTopnav">
    <a th:href="@{/redirectToMain}" >Home</a>
    <a th:href="@{/goals}" class="active">Goals</a>
    <a th:href="@{/activities}">Activities</a>
    <a th:href="@{/profile}">Profile</a>
    <a th:href="@{/rewards}">Rewards</a>
    <a th:href="@{/penalties}">Penalties</a>
    <a th:href="@{/ranking}">Ranking</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    <div class="logout">
        <a th:href="@{/logout}" id="logouta"><input type="button" id="logoutbutton" value="Logout"></a>
    </div>
    <div class="pointsbox">
        <span class="points" >Points: </span>
        <span class="points" th:text="${user.points}" ></span>
    </div>
</div>

<a th:href="@{/redirectToAddGoal}"><input type="button" id="addgoal-button" value="Add new goal"></a>

<div class="wrapper">
    <div class="goalsdiv">
        <table>
            <tr>
                <th>Goal Name</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            <tr th:each="goal: ${goalList}">
                <td th:text="${goal.goalName}" />
                <td th:text="${#temporals.format(goal.goalStartDate, 'dd.MM.yyyy')}" />
                <td th:text="${#temporals.format(goal.goalEndDate, 'dd.MM.yyyy')}" />
                <td>
                    <a th:href="@{/goals/delete/{id}(id=${goal.id})}" onclick="return deleteConfirmation()">
                    <input type="button" value="Delete" id="delete-button" >
                    </a>
                </td>
                <td>
                    <a th:href="@{/editgoal/{id}(id=${goal.id})}">
                        <input type="button" value="Edit" id="edit-button" >
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>


<script>
    function deleteConfirmation() {
        return window.confirm("Are you sure you want to delete this Goal?");
    }

    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</body>
</html>