<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/css/registerstyle.css" th:href="@{/css/registerstyle.css}" rel="stylesheet"/>
</head>
<body>

<div id="login-box">
    <div id="logo-wrapper">
        <img id="logo" src="../static/images/lovlogo.png" th:src="@{/images/lovlogo.png}" alt="lovlogo">
    </div>
    <div id="login-wrapper">
        <h1>Sign up to LOV!</h1>
        <form name="form1" th:action="@{/register}" method="post" th:object="${user}">
            <input type="text" id="username" name="username" placeholder="Username" th:field="*{username}"/> <br />
            <span class="text">Username must contain 3-15 characters!</span><br />
            <input type="email" class="email" name="email" placeholder="E-mail address"th:field="*{email}"/> <br />
            <input type="password" class="password" name="password" placeholder="Password" th:field="*{password}"/> <br />
            <input type="password" class="password" name="repeatpassword" placeholder="Repeat password"  th:field="*{passwordRepeat}"/> <br />
            <span class="text">Password must contain between 9 to 20 characters, at least one numeric digit,<br /> one uppercase, one lowercase letter and special sign!</span><br />
            <span id="wrongpass"></span><br />
            <input type="submit" value="Register" id="register-button"/>
            <br />
            <p>Already registered? <a th:href="@{/redirectToLogin}" id="login-now"><b>  LOGIN NOW</b></a></p>
        </form>
    </div>
</div>
</body>
</html>